@model NewMVCProject.ViewModels.PhoneProgramViewModel

@{
    ViewData["Title"] = "Edit Phone Program";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="w-100">
        <h1 class="text-center mb-4">Edit Phone Program</h1>

        <form asp-action="Edit" method="post">
            <div class="form-group mb-3">
                <label asp-for="ProgramName" class="control-label"></label>
                <input asp-for="ProgramName" class="form-control" readonly />
                <span asp-validation-for="ProgramName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Benefits" class="control-label"></label>
                <input asp-for="Benefits" class="form-control" />
                <span asp-validation-for="Benefits" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Charge" class="control-label"></label>
                <input asp-for="Charge" class="form-control" />
                <span asp-validation-for="Charge" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-dark w-10 py-2 fs-4 mx-auto d-block">Save Changes</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
