@model NewMVCProject.Models.Admin

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
    <h1>Welcome, @Model.User.FirstName @Model.User.LastName</h1>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">
        <a class="btn btn-primary w-100 mb-3" asp-action="Create" asp-controller="Sellers">Create New Seller</a>
        <br>
        <a class="btn btn-success w-100 mb-3" asp-action="Create" asp-controller="PhonePrograms">Create New Program</a>
        <br>
        <a class="btn btn-warning w-100 mb-3" asp-action="Index" asp-controller="PhonePrograms">Edit Program</a>
    </div>
</div>

